# This name is shown in the status badge in the README
name: build

on:
  push:
    branches:
      - master

jobs:
  test:
    name: JDK ${{matrix.java}}

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [8, 11]

    steps:
    - name: Check out code
      uses: actions/checkout@v1

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}

    - name: Run tests
      run: ./gradlew check

    - name: Build JavaDoc
      run: ./gradlew assembleJavadoc
